{% extends 'base.html' %}
{% load static %}

<!DOCTYPE HTML>
<html>
  <head>
    <title>Call for Proposal</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  </head>
  <body>


      {% block header %}
       <header id="header1">
            <h1>SciPy India 2016</h1>
            <h2>Reset Password</h2>
</header> 
{% endblock %}


{% block nav %}

<div id="navbar-main"> 
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
         <li><a href="{% url 'website:home' %}" class="active">Home</a></li>        
        </ul>
      </div>
  </div>
</div>
{% endblock %}



{% block content %}
<div id="wrapper">
<div id="main">
<section id="content" class="main">
<div><h2> Recovery Email </h2></div>
<br>
Kindly enter your email ID used for registration. The password reset link will be mailed to the same.
<br> <br>
<form action="" method="post">
    {% csrf_token %}
   {{ form.email.errors }}
    <p><label for="id_email">E-mail address:</label> {{ form.email }} 
      <br/><input type="submit" class ="button special" value="Reset password" /></p>

    <!-- <button class="btn btn-sm btn-primary" type="submit">Request</button>
    <a class="btn btn-sm " href="{{URL_ROOT}}/accounts/login/">Cancel</a> -->
</form>

<br>

</section>
</div>
</div>
{% endblock %}
