{% extends 'base.html' %}
{% load static %}

<!DOCTYPE HTML>
<html>
  <head>
    <title>Call for Proposal</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  </head>
  <body>


      {% block header %}
       <header id="header1">
            <h1>SciPy India 2016</h1>
            <h2>Reset Password</h2>
</header> 
{% endblock %}


{% block nav %}

<div id="navbar-main"> 
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
         <li><a href="{% url 'website:home' %}" class="active">Home</a></li>        
        </ul>
      </div>
  </div>
</div>
{% endblock %}



{% block content %}
<div id="wrapper">
<div id="main">
<section id="content" class="main">
<form action="" method="post" >
  {% csrf_token %}
  <center>
  <table class=span1>
  {{ form }}
  </table>
  </center>
  <center><button class="btn" type="submit">Change Password</button>
  <button class="btn" type="button" name="button" onClick='location.replace("{{URL_ROOT}}/accounts/");'>Cancel</button></center>
</form>
</section>
</div>
</div>
{% endblock %}
