

{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{% static 'img/fevicon.png'%}" type="icon">
        <title>SciPy India 2017</title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{% static 'css/one-page-wonder.css' %}" rel="stylesheet">
    </head>
    <body data-spy="scroll" data-target=".navbar" data-offset="50">
        {% include 'navbar.html' %}
        {% block content %}
        <div class="container">
            <p>
            <center>
                <h2>Abstract Details</h2>
            </center>
            </p>
            <h3>{{ proposal.user.first_name }} {{ proposal.user.last_name }}</h3>
            <p><b>Title: </b>&nbsp;{{ proposal.title }}</p>
            <p><b>About Me: </b>&nbsp;{{ proposal.about_me | linebreaks }}</p>
            <p><b>Abstract: </b>&nbsp;{{ proposal.abstract |linebreaks }}</p>
            {% if proposal.prerequisite %}
            <p><b>Prerequisite: </b>&nbsp;{{ proposal.prerequisite |linebreaks }}</p>
            {% endif%}
            <p><b>Duration: </b>&nbsp;{{ proposal.duration }} {% if proposal.proposal_type == "ABSTRACT"%} Mins {% else %}Hours {%endif%}</p>
            {% if proposal.proposal_type == "ABSTRACT"%}
            <p><b>Tags: </b>&nbsp;{{ proposal.tags }}</p>
            {% else %}
            <p><b>Level: </b>&nbsp;{{ proposal.tags }}</p>
            {% endif %}
            <p><b>Date Created: </b>&nbsp;{{ proposal.date_created }}</p>
            {% if url %}
            <p><b>Attachment: </b>&nbsp;
                <a href="{{ url }}" class="btn btn-info" target="_blank">{{filename}}</a>
            </p>
            {% endif %}
            <p><b>Comments: </b>
            <hr>
            {% for comment in comments %}
            <div>
                <strong>Comment By:</strong>
                {{ comment.user.first_name }} {{ comment.user.last_name }}
                <p>{{ comment.comment| linebreaks }}</p>
            </div>
            <hr>
            {% endfor %}
        </div>
        {% endblock %}
        {% include 'footer.html' %}
    </body>
</html>


