

{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{% static 'img/favicon.ico'%}" type="icon">
        <title>SciPy India 2017</title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{% static 'css/one-page-wonder.css' %}" rel="stylesheet">
    </head>
    <body data-spy="scroll" data-target=".navbar" data-offset="50">
        {% include 'navbar.html' %}
        {% block content %}
        <div class="container">
            <p>
            <center>
                {% if user and not user.is_anonymous %}
                <h2>Submit Proposal</h2>
                {% else %}
                <h2>Login</h2>
                {% endif %}
            </center>
            </p>
            {% if proposal_submit %}
            <center>
                <table>
                    <tr>
                        <td>
                            <p>Thank You for your submission. Your proposal has been saved successfully and is under review. You can check the status of submission <a href="{% url 'website:view_abstracts' %}">here </a>!</p>
                        </td>
                    </tr>
                </table>
            </center>
            {% endif %}
            {% if registration_complete %}
            <center>
                <p>Thank You for your registration. You can now log in by clicking  <a href="{% url 'website:cfp' %}">here </a>!</p>
                <br/><br/>
            </center>
            {% endif %}
            {% if user and not user.is_anonymous and not login_required %}
            <p>We invite you to submit proposals for talks or workshops to be presented at SciPy 2017. The time duration for talks is 15 or 30 minutes and for workshops is 2 to 4 hours. There will be two parallel tracks for the workshops this year.  One track is meant for beginners and the other is for advanced users.     </p>
            <span>
                <h2><u>Important Dates</u></h2>
            </span>
            <ul>
                <li>Call for proposals opens: <b>15 Sept. 2017</b></li>
                <li>Last date for submission of proposals: <b>1st Nov. 2017</b></li>
                <li>Announcement of selected proposals: <b>15 Nov. 2017</b></li>
            </ul>
            <br/>
            {% if user.is_superuser %}
            <center><a href="{% url 'website:view_abstracts' %}" class="btn btn-info">View Proposals</a> </center>
            {% else %}
            <center>
                <a href="{% url 'website:view_abstracts' %}" class="btn btn-info">View Proposals</a>
                <a href="{% url 'website:submitcfp' %}" class ="btn btn-info" role="button"> Submit paper  </a>
                <a href="{% url 'website:submitcfw' %}" class ="btn btn-info" role="button">Submit workshop </a>
            </center>
            {% endif %}
            {% else %}
            <p align = "justify">We invite you to submit proposals for talks or workshops to be presented at SciPy 2017. The time duration for talks is 15 or 30 minutes and for workshops is 2 to 4 hours. There will be two parallel tracks for the workshops this year.  One track is meant for beginners and the other is for advanced users.
            </p>
            <hr>
            <span>
                <h2><u>Login</u></h2>
            </span>
            <p>Login/Register to Submit a Proposal</p>
            {% if invalid %}
            <p style="color:red; font-size:15px;">* Invalid Username/Password</p>
            {% endif %}
            <!-- <div id = "my_form"> -->
            <form action="" method="POST">
                {{ form.as_p }}
                <button class="btn btn-info" name ="login" type="submit">Login</button><br/><br/>
                <a style="padding-right : 20px;" href="{% url 'website:userregister' %}" class="btn btn btn-primary">Create an Account</a>
                <a  href="/2017/forgotpassword/">Forgot Password?</a>
                {% csrf_token %}
            </form>
            <!-- </div> -->
            <p>Or Sign in with:&nbsp;
                <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-social-icon "  style="color:#dd4b39;"><i class="icon-google-plus"></i></a>&nbsp;
                <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" class=" btn btn-social-icon" style="color:#3b5998"><i class="icon-facebook"></i></a>
            </p>
            </li>
            <!-- </div> -->
            <!-- <div class="col-md-6" > -->
            <li>
                <span>
                    <h2><u>Important Dates</u></h2>
                </span>
                <ul>
                    <li>Call for proposals opens: <b>15 Sept. 2017</b></li>
                <li>Last date for submission of proposals: <b>1st Nov. 2017</b></li>
                <li>Announcement of selected proposals: <b>15 Nov. 2017</b></li>
                </ul>
            </li>
            <!-- </div> -->
            {% endif %}   
        </div>
        {% endblock %}
        {% include 'footer.html' %}
    </body>
</html>


