<!DOCTYPE HTML>
{% extends 'base.html' %}
{% load static %}

<html>
	<head>
		<title>{{ user.get_full_name|default:user.username }}</title>
	</head>
	<body>


		
      {% block header %}
       <header id="header1">
						<h1>Scipy India 2016</h1>
            {% if proposal.proposal_type == "ABSTRACT"%}
						<h2>Edit Abstract Proposal</h2>
            {% else %}
            <h2>Edit Workshop Proposal</h2>
            {% endif %}
</header> 
{% endblock %}

{% block nav %}

<div id="navbar-main"> 
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
         <li><a href="{% url 'website:home' %}" class="active">Home</a></li>        
               {% if user and not user.is_anonymous %}
               <li><a href="{% url 'website:cfp' %}">{{ user.get_full_name|default:user.username }}</a>
                <li><a href="{% url 'auth:logout' %}?next=/2016/cfp">Logout</a></li>
               {% else %}       
                <li><a href="{% url 'website:cfp' %}" >Login</a></li>
           {% endif %}
        </ul>
      </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div id="wrapper">
      <div id="main">
      <section id="content" class="main">
        <h3>{{ proposal.user.first_name }} {{ proposal.user.last_name }}</h3>
 <form   action="" method=POST enctype="multipart/form-data">  {% csrf_token %}  
          <div class="row1">
           {% for field in form %} 
                 
                  <p>{{ field.label}}
                   {% if field.field.required %} <span style="color:red;">*</span> {% endif %}
                    {{ field }}</p>
                     <a style="color:red; ">{{ field.errors }}</a>
                  {% endfor %}
          </div>
          {% csrf_token %}
       
        <center><button class="button special" style="background:#D44727" type="submit">Submit</button></center>
         </form>


      </section>
    </div>
  </div>


{% endblock %}
</body>
</html>