

{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{% static 'img/fevicon.png'%}" type="icon">
        <title>SciPy India 2017</title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{% static 'css/one-page-wonder.css' %}" rel="stylesheet">
    </head>
    <body data-spy="scroll" data-target=".navbar" data-offset="50">
        {% include 'navbar.html' %}
        {% block content %}
        <center>
        <div style="background-color: #01c3d9;width: auto;">
        <h1 style="color:black;font-family: Arial;font-weight: bold">
            <span style="color:black;font-size: 2.25em;font-family: Arial;font-weight: bold">SciPy</span> India
        </h1>
        <p style="color:#111111; font-size:28px;font-family: Merriweather;" >November 29 & 30 - 2017</p></div>
        </center>
        
        <div class="container">
            <center>
                <h2>Register</h2>
            </center>
            {% if email_registered %}
            <center>
                <div class="alert" style="width:300px;height:50px;">
                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                    <p>Email ID is already registered !</p>
                </div>
                <p style="line-height:5px;">Have you already logged in using social logins ?</p>
                <p style="line-height:5px;">or</p>
                <p style="line-height:5px;"><a href="{% url 'website:forgotpassword' %}">Click Here</a> if you forgot your username or password</p>
            </center>
            {% endif %}
            {% if registration_complete %}
            <p> Your Account is Created Successfully !</p>
            {% endif %}
        <!--  <div class = "col-md-7">                   
           <div id = "my_form"> -->
            <form action="" method="POST">

                {% csrf_token %}
                {% for field in form %} 
                <p>{{ field.label}}
                    {% if field.field.required %} <span style="color:red;">*</span> {% endif %}
                    {{ field }}
                </p>
                <a style="color:red; ">{{ field.errors }}</a>
                {% endfor %}
                <br>
                <button class="btn btn-primary" type="submit" >SignUp</button>
                <a class="btn btn-primary" href="{% url 'website:cfp' %}"><u>I have an account</u></a>
                <!-- </div> -->
            </form>
        <!--</div>-->
        {% endblock %}
        {% include 'footer.html' %}
    </body>
</html>


